body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.home-container, .work-container, .about-container, .contact-container {
  padding: 20px;
}

.home-buttons a {
  margin: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.home-buttons a:hover {
  background-color: #555;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
